.hide {
    display: none;
    position: relative;
    top: -40px;
}

.img {
    position: relative;
}

.card {
    border:none;
}

img:hover + .hide, .hide:hover {
    display: inline-block;
    width:400px;
    height:40px;
    align-items: center;
}
